In [1]:
import pandas as pd
df=pd.read_csv("Salary.csv")
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [2]:
df.tail()

         Position  Level   Salary
5  Region Manager      6   150000
6         Partner      7   200000
7  Senior Partner      8   300000
8         C-level      9   500000
9             CEO     10  1000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [4]:
df.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Position"]=le.fit_transform(df["Position"])
df.head()

   Position  Level  Salary
0         0      1   45000
1         4      2   50000
2         8      3   60000
3         5      4   80000
4         3      5  110000

In [10]:
x=df[["Position","Level"]]
y =df["Salary"]

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train, y_train)
y_pred=dt.predict(x_test)

In [15]:
from sklearn import metrics
mse=metrics.mean_squared_error(y_test, y_pred)
mse

45012500000.0

In [17]:
r2=metrics.r2_score(y_test,y_pred)
r2

0.11086419753086418

In [18]:
dt.predict([[5,6]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([110000.])